.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover; /*cмещаемый контент меняет свой размер, сохраняя свои пропорции при заполнении блока*/
  object-position: center top; /*выравнивание контента: по горизонтали - центр, по вертикали - верх*/
}